openapi: 3.0.3
info:
  title: Book Management API
  description: Project for API documentation for managing books and authors.
  version: 1.0.0
  contact:
    name: API Support
    email: support@bookapi.com

servers:
  - url: https://api.bookmanagement.com/v1
    description: Production Server
  - url: https://staging.bookmanagement.com/v1
    description: Staging Server

tags:
  - name: Books
    description: Operations related to books
  - name: Authors
    description: Operations related to authors

paths:
  /books:
    get:
      summary: Get all books
      tags: [Books]
      responses:
        "200":
          description: List of all books
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Book"

    post:
      summary: Add a new book
      tags: [Books]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookInput"
      responses:
        "201":
          description: Book created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"

  /books/{bookId}:
    get:
      summary: Get book details by ID
      tags: [Books]
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Book details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Book"
        "404":
          description: Book not found

    delete:
      summary: Delete a book
      tags: [Books]
      parameters:
        - name: bookId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: Book deleted successfully

  /authors:
    get:
      summary: Get all authors
      tags: [Authors]
      responses:
        "200":
          description: List of authors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Author"

components:
  schemas:
    Book:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        author:
          $ref: "#/components/schemas/Author"
        publishedYear:
          type: integer

    Author:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        country:
          type: string

    BookInput:
      type: object
      required: [title, author]
      properties:
        title:
          type: string
        authorId:
          type: integer
        publishedYear:
          type: integer

